RewriteEngine On

# ドキュメントルート直下のすべてのファイルを index.php にリダイレクト
RewriteCond %{REQUEST_URI} !^/index\.php$
RewriteCond %{REQUEST_URI} !^/dist/
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ index.php [QSA,L]

# 存在しないファイルやディレクトリを index.php にリダイレクト
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
